@import url('https://fonts.googleapis.com/css?family=Kanit:300,300i,400,500,600i|Roboto+Condensed:400,700');

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
}
@font-face {
  font-family: 'Kanit', sans-serif;
}
@font-face {
  font-family: 'dearJoeII';
  src: url(../fonts/dearjoeII.ttf);
}

body{
  font-family:'Roboto Condensed';
}

.dearjoe2{
  font-family: "dearJoeII";
  font-size: 3rem;
  font-weight: 500;
}
.tagline{
  font-family: "Kanit";
  font-weight: 400;
  font-size: 1.15rem;
}
.navbar-nav>li{
  text-transform: uppercase;
}
// ===========================================================topCarousel
.hero{
  text-align: center;
  & h3 {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  & h5 {
    font-size: 2rem;
    font-weight: 300;
  }
}
//==================================================================about
.text-italic{
  font-style: italic;
}
// ===========================================================footer
footer{
  font-family: "Kanit";
  font-weight: 400;
}

.policy{
  font-variant: normal;
  text-decoration: none;
}
.tel{
  font-size: 4rem;
  font-variant: normal;
  text-decoration: none;
}
.email{
  text-decoration: underline;
}
@media screen and (max-width:768px) {}
@media screen and (min-width:768px) {}
@media screen and (min-width:992px) {}
@media screen and (min-width:1200px) {}
