#carouselNews img {
  width: 100%;
  height: auto;
}
#carouselNews a {
  font-size: 1.5rem;
  font-variant: normal;
  text-decoration: none;
  color: #000;
}
#carouselNews span {
  display: block;
  margin-top: 25px;
}
#carouselNews .news-label {
  position: absolute;

  width: 30%;
  margin-top: -100px;

  background-image: url(../images/team-label.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  // height: 250px;
}
#carouselNews .carousel-control {
  width: 30px;
  background-image: none;
  &.right{
    transform: translateX(50px)
  }
  &.left{
    transform: translateX(-50px);
  }
}
